@page
@model EquipmentBookingSystem.Website.Pages.Items.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data.Manufacturer" class="control-label"></label>
                <input asp-for="Data.Manufacturer" class="form-control" />
                <span asp-validation-for="Data.Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.Model" class="control-label"></label>
                <input asp-for="Data.Model" class="form-control" />
                <span asp-validation-for="Data.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

