@page
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnv
@model EquipmentBookingSystem.Website.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">
    @if (Model.OriginalStatusCode != 200)
    {
        <text>Error - HTTP status code @Model.OriginalStatusCode</text>
    }
    else
    {
        <text>Error</text>
    }
</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
